@page "/EndRace"
@using BlazorApp.Services
@using BlazorApp.Models
@using BlazorApp.Dtos
@inject IParticipantService Service
@inject IRaceService RaceService



<h3>Participants</h3>


<table>
    <tbody>
    @foreach (var participant in Participants)
    {
        <tr @onclick="() => EndTime(participant)">
            <td>@participant.Id</td>
            <td>@participant.Name</td>
            <td>@participant.Result</td>
            <td><button class="btn btn-primary">Stop</button></td>
        </tr>
    }
    
    </tbody>
</table>



@code {
    private List<ParticipantDto> Participants;

    protected override void OnInitialized()
    {
        var race = RaceService.GetRace();
        Participants = Service.GetParticipants(race.Id);
    }


    private void EndTime(ParticipantDto participant)
    {
        Service.SetEndTime(participant.Id, participant.RaceId);
    }

}