@page "/EndRace"

@using BlazorApp.Services
@using BlazorApp.Dtos

@inject IParticipantService Service
@inject IRaceService RaceService


<h1>End Race</h1>

<h3>Participants</h3>
<div>Participants on this race is listed below. Click stop to end the race for the participant.</div>

<table class="table">
    <tbody>
    @foreach (var participant in _participants ?? Enumerable.Empty<ParticipantDto>())
    {
        <tr @onclick="() => EndTime(participant)">
            <td>@participant.Id</td>
            <td>@participant.Name</td>
            <td>@participant.Result</td>
            <td><button class="btn btn-primary">Stop</button></td>
        </tr>
    }
    
    </tbody>
</table>


@code {
    private List<ParticipantDto>? _participants;

    protected override void OnInitialized()
    {
        var race = RaceService.GetRace();
        _participants = Service.GetParticipants(race.Id);
    }


    private void EndTime(ParticipantDto participant)
    {
        Service.SetEndTime(participant.Id, participant.RaceId);
    }
}
