@page "/registerparticipant"
@using BlazorApp.Services
@inject IParticipantService ParticipantService

<PageTitle>Register Participant</PageTitle>
<h1>Register Participant</h1>

<div>Please enter a new participant below or choose from the list.</div>



@*<button class="btn btn-primary" @onclick="AddName">Register new name</button>


<input @bind="name"/>
<div class="@((!IsNameValid() && name.Length >0) ? "d-block": "d-none")" > To short name!</div>
<div>@name</div>

@code {

    private void AddName()
    {
        if (!IsNameValid()) return;
        
        ParticipantService.AddParticipant(name);
        name = String.Empty;
    }
    
    private bool IsNameValid()
    {
        return name.Length >= 2;
    }

    string name = String.Empty;
}
*@
