@page "/ongoingraces"
@using BlazorApp.Services
@using BlazorApp.Models
@using BlazorApp.Dtos
@inject IParticipantService ParticipantService
@inject IRaceService RaceService

<PageTitle>Ongoing Races</PageTitle>

<div class="container">
    <table class="table" style="margin-top: 10px;">
        <thead>
        <!-- Should be hided if there is no races -->
        <tr>
            <th>Race id</th>
            <th>Race name</th>
            <th>Start time</th>
        </tr>
        </thead>
        
        <tbody>
            @foreach (var ongoingRaces in _races)
            {
                <tr>
                    <td>@ongoingRaces.Id</td>
                    <td>@ongoingRaces.Name</td>
                    <td>@ongoingRaces.StartRace</td>
                    <td><button @onclick="() => ViewRaceInfo(ongoingRaces.Id)" class="btn btn-primary">View more race info</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code
{
    private List<Race> _races = new List<Race>();
    private List<ParticipantDto> _participants = new List<ParticipantDto>();
    private int _currentRaceId;
    private bool _raceSwitchOn = false;

    protected override void OnInitialized()
    {
        _races = RaceService.GetOngoingRaces();
    }

    private void ViewRaceInfo(int raceId)
    {
        var race = RaceService.GetRace(raceId);
    }
    
    private void ViewResult(int raceId)
    {
        var race = RaceService.GetRace(raceId);
        var previousRaceId = _currentRaceId;
        _currentRaceId = race.Id;
        _participants = ParticipantService.GetParticipants(race.Id);
        ViewRaceHeading(previousRaceId);
    }
    
    private void ViewRaceHeading(int prevRaceId)
    {
        if (prevRaceId == _currentRaceId)
        {
            if (_raceSwitchOn)
                _raceSwitchOn = false;
        }
        else
            _raceSwitchOn = true;
        
    }
}
