@page "/StartRace"
@using BlazorApp.Services
@inject IRaceService RaceService

<h1>StartRace</h1>
<div>Press button to start a race.</div>
<button @onclick="Start" class="btn btn-primary">Start Race</button>



@code {
    
    private void Start()
    {
        var race = RaceService.GetRace();
        RaceService.Start(race.Id);

    }
    
}